a{
    padding: 0;
    margin: 0;
}

body{
    color: white;
    background-image: url(../images/full-moon.png);
    line-height: 8px;
    font-family: 'Bevan', cursive;
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Rock Salt', cursive;
}

.title-container{
    padding-top: 30px;
    text-align: center;
    line-height: 18px;
    color: white;
}

.scoring-container{
    padding: 15px 0;
    color: white;
    text-align: center;
}

.gem-container{
    text-align: center;
    padding: 60px 0;
}

h1{
    font-size: 60px;
    font-family: 'Rock Salt', cursive;
}

h2{
    font-size: 30px;
    font-family: 'Advent Pro', sans-serif;
}

.gem-img{
   width: 200px;
   height: 200px; 
}
